@import url(./__header/page__header.css);
@import url(./__footer/page__footer.css);
@import url(./__content-container/page__content-container.css);

.page {
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    padding-top: 45px;
    width: 100%;
    font-family: 'Inter', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @media screen and (max-width: 600px) {
    .page {
      padding-top: 28px;  
    }
  }