.popup__close-button {
    position: absolute;
    top: -40.7px;
    right: -40.7px;
    width: 40.7px;
    height: 40.7px;
    font: inherit;
    color: inherit;
    background-image: url('../../../images/close-icon.svg');
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    background-position: center;
}

@media screen and (max-width: 600px) {
    .popup__close-button {
        top: -30px;
        right: -30px;
        width: 30px;
        height: 30px;
    }
  }

  .popup__close-button:hover {
    opacity: 0.6;
    -webkit-transition: opacity 1.5s ease;
    -moz-transition: opacity 1.5s ease;
    -ms-transition: opacity 1.5s ease;
    -o-transition: opacity 1.5s ease;
    transition: opacity 1.5s ease;
}
  