.popup__field-error {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.25;
    width: 100%;
    color: #FF0000;
    margin-top: 5px;
    margin-bottom: 13px;
    display: block;
}